.divePlannerContainer {
    width: 50%;
    margin: auto;
    background-color: rgba(37, 100, 160, 0.75);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5em;
}
.divePlannerContainer h2 {
    text-align: center;
    color: white;
    margin: 0px 0px 1.5em 0px;
}

.inputs-flag{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.inputs-flag input{
    width: 5em;
    padding: 0.5em;
    margin-right: 0.5em;
}
.inputs-flag fieldset{
    padding: 0.3em;
    align-items: center;
}
.inputs-flag label {
    width: 2em;
    display: flex;
    justify-content: right;
    font-size: 1.5em;
}
.inputs-flag button {
    font-size: 1.5em;
    margin: 0.4em 1em 0 0;
    justify-self: center;
}

.divePlanInputDiv{
    align-items: center;
}

.diveFlagGreen{
    box-shadow: 0px 0px 20px 5px rgb(101, 233, 101);
    border: 0.3em rgb(101, 233, 101) solid;
    width: 11em;
    height: 8em;
    overflow: hidden;
    display: flex;
}
.diveFlagYellow{
    box-shadow: 0px 0px 20px 5px yellow;
    border: 0.3em yellow solid;
    width: 11em;
    height: 8em;
    overflow: hidden;
    display: flex;
}
.diveFlagRed{
    box-shadow: 0px 0px 20px 5px red;
    border: 0.3em red solid;
    width: 11em;
    height: 8em;
    overflow: hidden;
    display: flex;
}

.diveFlag img {
    width:100%;
    height:100%;
}

.empty{
    padding-top: 50px;
}

.pg-box{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.diveResults li{
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 1.5em;
    margin: 0px 12px 0px -17px;
}

.noDecoLimit{
    color: white;
    border-radius: 10px;
    display:'inline';
    background-color: rgb(253, 106, 106, 0.5);
    padding: 5px;
    margin-top: 5px;
}

.ss {
    text-decoration: underline;
}

.nextDive {
    font-size: 1.5em;
}

.results-label {
    font-weight: bold;
    color: lightgreen;
    margin-right: 0.3em;
}