.divePlannerContainer {
    width: 50%;
    margin: auto;
    background-color: rgba(37, 100, 160, 0.75);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5em;
}
.divePlannerContainer h2 {
    text-align: center;
    color: white;
    margin: 0.5em 0px 0.5em 0px;
    background-color: rgba(144, 238, 144, 0.25);
    border-radius: 10px;
}

.inputs-flag{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 1.5em;
    padding: 0 2em 0 2em;
    /* width: 75%; */
    /* margin: auto; */
}
.inputs-flag input{
    width: 5em;
    padding: 0.5em;
    margin-right: 0.5em;
}
.inputs-flag fieldset{
    padding: 0.2em;
    align-items: center;
}
.inputs-flag label {
    width: 7em;
    display: flex;
    justify-content: right;
    font-size: 1.5em;
}

.diveButtons{
    display: flex;
    justify-content: flex-end;
}
.diveButtons button{
    font-size: 1.5em;
    margin: 0.4em 0.5em 0 0;
}

.divePlanInputDiv{
    align-items: center;
}

.diveFlagGreen{
    box-shadow: 0px 0px 20px 5px rgb(101, 233, 101);
    border: 0.3em rgb(101, 233, 101) solid;
    width: 11em;
    height: 8em;
    overflow: hidden;
    display: flex;
    order: -1;
    align-self: center;
}
.diveFlagYellow{
    box-shadow: 0px 0px 20px 5px yellow;
    border: 0.3em yellow solid;
    width: 11em;
    height: 8em;
    overflow: hidden;
    display: flex;
    order: -1;
    align-self: center;
}
.diveFlagRed{
    box-shadow: 0px 0px 20px 5px red;
    border: 0.3em red solid;
    width: 11em;
    height: 8em;
    overflow: hidden;
    display: flex;
    order: -1;
    align-self: center;
}

.diveFlag img {
    width:100%;
    height:100%;
}

.pg-box{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.diveResultsList li{
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 1.5em;
    margin: 0 0 0 1em;
}

.noDecoLimit{
    color: white;
    border-radius: 10px;
    display:'inline';
    background-color: rgb(253, 106, 106, 0.5);
    padding: 5px;
    margin-top: 5px;
}

.ss {
    text-decoration: underline;
}

.nextDive {
    font-size: 1.5em;
}

.results-label {
    font-weight: bold;
    color: lightgreen;
    margin-right: 0.3em;
}

.timeGreen{
    border: 0.3em lightgreen double;
    width: fit-content;
    margin: 0.5em 0 0 1.4em;
    padding-right: 1em;
}
.timeYellow{
    border: 0.3em yellow double;
    width: fit-content;
    margin:5px 0px 0px -0px;
    padding-right: 1em;
}
.timeRed {
    border: 0.3em red double;
    width: fit-content;
    margin: 0.5em 0 0 1.4em;
    padding-right: 1em;
}

.setSI {
    display: flex;
    margin: 0 0 0 0.5em;
    align-content: center;
}
.setSI button{
    font-size: 1.5em;
}