.cert-cards {
    background-color: rgba(37, 100, 160, 0.75);
    border-radius: 10px;
    border: 2px solid black;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
}

.upload-cert-button {
    text-align: center;
    margin: 1em auto 1em auto;
    width: fit-content;
    height: 3em;
}

.cert-card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.cert-card-form fieldset {
    padding: 0;
    margin: 1em auto 0.5em auto;
}

.cert-card-form input {
    width: 20em;
}
.cert-card-form label {
    text-align: left;
    width: 6em;
}

.cert-card-form input[type='date'] {
    width: 20em;
    margin: 0 1em 0 0;
}

.cert-buttons {
    margin: auto;
}

.cert-buttons button {
    width: fit-content;
    height: 2em;
    font-size: 1em;
    margin: 0.5em;
}

.noCerts {
    color: white;
    margin-bottom: 1em;
}

.cert-card {
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em auto;
}

.cert-card img {
    width: 100%;
}

.cardDetails {
    color: white;
    padding-top: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.cardTitle {
    color: white;
    margin: 0;
}

.card {
    width: 25%;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}