.diverProfileContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profilePic {
    width: 20.6em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profilePic > img {
    max-width: 100%;
    max-height: 100%;
    /* border: 5px outset white; */
    border-top: none;
    border-radius: 0 0 10px 10px;
}
.profilePic button {
    width:fit-content;
    margin-top: 0.2em;
}

.profile-h2 {
    text-align: center;
    color: white;
    margin: 0;
    width: 13.75em;
    background-color: rgba(37, 100, 160);
    border-radius: 10px 10px 0 0;
}

.changeProfilePic{
    justify-content: flex-end;
    max-width: 100px;
}

.certCards {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width:20em) and (max-width:30em)  { /* smartphones, iPhone, portrait 480x320 phones */
    .diverProfileContainer {
        display: flex;
        justify-content: space-around;
        width: 90%;
        flex-wrap: wrap;
        margin: 1.5em;
    }
    
    .profilePicContainer{
        margin:auto;
        width:90%;
    }

    .profilePic {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        order: -1;
        margin-bottom: 1em;
    }
    
    .changeProfilePic{
        justify-content: flex-end;
        max-width: 100px;
    }
    
    .certCards {
        display: flex;
        width: 90%;
        justify-content: center;
        text-align: center;
        flex-wrap:wrap;
    }
    
    .certCard {
        display: flex;
        flex-wrap: wrap;
        margin:auto;
        border: 5px outset white;
        flex-basis: 33%;
        margin-bottom: 30px;
        overflow: hidden;
        align-content: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .certCard img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }
}