.uploadButton {
    text-align: right;
  }
.certUploadButton {
    text-align: left;
  }

.image-item {
    display: flex;
    margin: 10px 0;
  }

.image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color:white;
  }

button {
  background-color: rgba(37, 100, 160, 1);
  border-radius: 10px;
  color:white;
}
button:hover{
  background-color: orange;
}

.certUploadButton{
  text-align: left;
}
.certCardButton {
  background-color: rgba(37, 100, 160, 1);
  border-radius: 10px;
  color:white;
}
.certCardButton:hover{
  background-color: orange;
}

.noCerts {
  color: white;
}

.cardDetails {
  color: white;
  padding-top: 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.cardTitle {
  color: white;
  margin: 0;
}
.cardOverview{
  margin-bottom: 30px;
}
.cardOverview button{
  align-content: right;
}

.upload__image-wrapper{
  flex-direction: column;
  flex-wrap: wrap;
}
.upload__image-wrapper button{
margin:auto;
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadButton {
  display: flex;
  justify-content: flex-end;
}

.addCard {
  padding: 10px;
}

.save-delete{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.save-delete button {
  width: 12em;
}