.gearArticle {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px 0px;
  justify-content: center;
}

.back {
  font-size: 2em;
  margin: auto;
  padding: 0;
}
.back:hover {
  cursor: pointer;
}

.gearTitle {
  color: white;
  margin: 0px auto 20px auto;
  background-color: rgba(37, 100, 160, 0.75);
  background-image: linear-gradient(to right, rgb(72, 197, 255), rgba(47, 125, 161, 0.75), rgb(19, 51, 82, 0.5));
  width: 10em;
  border-radius: 10px;
  text-align: center;
  justify-content: center;

  /* Animation */
  animation: fadeIn linear 0.3s, slideRight linear 0.1s;
  -webkit-animation: fadeIn linear 0.3s, slideRight linear 0.2s;
  -moz-animation: fadeIn linear 0.3s, slideRight linear 0.1s;
  -o-animation: fadeIn linear 0.3s, slideRight linear 0.1s;
  -ms-animation: fadeIn linear 0.3s, slideRight linear 0.1s;
}

.gearCol {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.gearsetContainer {
  margin: 1em;
  color: white;
  border: 1px black solid;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  /* background-color: rgb(37, 100, 160, 0.75); */
  background-image: linear-gradient(to bottom, rgba(0, 109, 160, 0.5), rgba(47, 125, 161, 0.75), rgba(8, 22, 36, 0.5));
  border-radius: 10px;
}

.gearHR {
  background-color: orange;
  width: 1px;
  border-radius: 10px;
  border: 0px;
  margin: 2em;
}

.gearEntry {
  margin: 1em;
  color: white;
  width: 95%;
  padding: 5px;
  display: flex;
  /* justify-content: flex-start; */
}

.gearHeading{
  /* margin-left: 9%; */
  margin-bottom: 0;
  color:orange;
}

.gearLogMain {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  height: 30em;
  overflow-x: hidden;
}
.gearLogMain::-webkit-scrollbar {
  background:rgba(37, 100, 160, 0.5);
  border-radius: 10px;
}
.gearLogMain::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
  height: 2em;
}

.quip-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quip {
  display: flex;
  background-color: rgba(37, 100, 160, 0.34);
  width: 40%;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 20px 20px rgba(37, 100, 160, 0.34);
  /* Animation */
  animation: fadeIn linear 1s, floatUp linear 1s;
  -webkit-animation: fadeIn linear 1s, floatUp linear 1s;
  -moz-animation: fadeIn linear 1s, floatUp linear 1s;
  -o-animation: fadeIn linear 1s, floatUp linear 1s;
  -ms-animation: fadeIn linear 1s, floatUp linear 1s;
}

/* Float Up */
@keyframes floatUp {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @-moz-keyframes floatUp {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes floatUp {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-o-keyframes floatUp {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-ms-keyframes floatUp {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }

/* Fade In */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @media (min-width:320px) and (max-width:480px)  {/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    .gearArticle {
      display: flex;
      flex-direction: column;
      margin: 10px 0px 30px 0px;
      justify-content: center;
    }
    
    .back {
      font-size: 2em;
      margin: auto;
      padding: 0;
    }
    .back:hover {
      cursor: pointer;
    }
    
    .gearTitle {
      color: white;
      margin: 0px auto 20px auto;
      background-color: rgba(37, 100, 160, 0.75);
      width: 10em;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
    
      /* Animation */
      animation: fadeIn linear 0.3s, slideRight linear 0.1s;
      -webkit-animation: fadeIn linear 0.3s, slideRight linear 0.2s;
      -moz-animation: fadeIn linear 0.3s, slideRight linear 0.1s;
      -o-animation: fadeIn linear 0.3s, slideRight linear 0.1s;
      -ms-animation: fadeIn linear 0.3s, slideRight linear 0.1s;
    }
    
    .gearCol {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      margin: -1em;
    }
    
    .gearsetContainer {
      margin: 1em;
      color: white;
      border: 1px black solid;
      width: 100%;
      padding: 5px;
      margin-bottom: 30px;
      background-color: rgb(37, 100, 160, 0.75);
      border-radius: 10px;
    }
    
    .gearHR {
      background-color: orange;
      width: 1px;
      border-radius: 10px;
      border: 0px;
      margin: 2em;
    }
    
    .gearEntry {
      color: white;
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .gearLogMain {
      display: flex;
      margin: 0;
      width: 100%;
      flex-wrap: wrap;
      overflow: scroll;
      height: 38em;
      overflow-x: hidden;
    }
    .gearLogMain::-webkit-scrollbar {
      background:rgba(37, 100, 160, 0.5);
      border-radius: 10px;
    }
    .gearLogMain::-webkit-scrollbar-thumb {
      background: orange;
      border-radius: 10px;
      height: 2em;
    }
    
    
    .gearHeading{
      /* margin-left: 9%; */
      margin-bottom: 0;
      color:orange;
    }
    
    .quip-button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    
    .quip {
      display: flex;
      background-color: rgba(37, 100, 160, 0.34);
      width: 40%;
      border-radius: 10px;
      color: white;
      box-shadow: 0px 0px 20px 20px rgba(37, 100, 160, 0.34);
      /* Animation */
      animation: fadeIn linear 1s, floatUp linear 1s;
      -webkit-animation: fadeIn linear 1s, floatUp linear 1s;
      -moz-animation: fadeIn linear 1s, floatUp linear 1s;
      -o-animation: fadeIn linear 1s, floatUp linear 1s;
      -ms-animation: fadeIn linear 1s, floatUp linear 1s;
    }
    
    /* Float Up */
    @keyframes floatUp {
        0% {
          transform: translateY(20%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    
      @-moz-keyframes floatUp {
        0% {
          transform: translateY(20%);
        }
        100% {
          transform: translateY(0%);
        }
      }
      
      @-webkit-keyframes floatUp {
        0% {
          transform: translateY(20%);
        }
        100% {
          transform: translateY(0%);
        }
      }
      
      @-o-keyframes floatUp {
        0% {
          transform: translateY(20%);
        }
        100% {
          transform: translateY(0%);
        }
      }
      
      @-ms-keyframes floatUp {
        0% {
          transform: translateY(20%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    
    /* Fade In */
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
    
      @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
  }