.diveStatsDiv {
    display: flex;
    justify-content: space-around;
    margin: 0px 0% 0px 0%;
    align-items: center;
}

.diveStats {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgba(37, 100, 160, 0.34);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba(37, 100, 160, 0.34);
}

.diveStatsHeading {
    font-weight: bold;
    text-align: center;
}

.diveStatsTable {
    background-color: rgba(37, 100, 160);
    background-image: linear-gradient(to bottom, rgb(72, 197, 255), rgba(47, 125, 161, 0.75), rgb(19, 51, 82, 0.5));
    color: white;
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}

.diveStatsTable td {
    border: 1px solid black;
    padding: 0.2em 0.4em 0.2em 0.4em;
}

.specialtyButton {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    border-radius: 0;
}