.diveStatsDiv {
    display: flex;
    justify-content: space-around;
    margin: 0px 0% 0px 0%;
    align-items: center;
}

.diveStats {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    color: white;
    background-color: rgba(37, 100, 160, 0.34);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba(37, 100, 160, 0.34);
}