.dive-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dive-images div{
    display: flex;
    flex-wrap: wrap;
}

.dive-images img {
    width: 32%;
    margin: 0.2em;
    cursor: pointer;
}

.x {
    position:relative;
    border-radius: 10px;
    top: 1em;
    left: -4em;
}