.fileUpload {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(37, 100, 160);
}

.fileUpload:hover {
    background-color: orange;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.upload-photos {
    height: 3em;
    font-weight: bold;
}

.upload-images-container {
    display: flex;
    justify-content: space-evenly;
}