body {
  margin: 0;
  font-family: 'monospace', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url('/src/images/si-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.moduleTitle {
  color: white;
  margin-top: 10px;
  background-color: rgba(37, 100, 160, 0.75);
  width: 10em;
  border-radius: 10px;
  text-align: center;

  /* Animation */
  animation: fadeIn linear 0.3s, slideRight linear 0.1s;;
  -webkit-animation: fadeIn linear 0.3s, slideRight linear 0.2s;;
  -moz-animation: fadeIn linear 0.3s, slideRight linear 0.1s;;
  -o-animation: fadeIn linear 0.3s, slideRight linear 0.1s;;
  -ms-animation: fadeIn linear 0.3s, slideRight linear 0.1s;;
}

/* Slide Right */
@keyframes slideRight {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-moz-keyframes slideRight {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-o-keyframes slideRight {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-ms-keyframes slideRight {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Fade In */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Slide Left */
@keyframes slideLeft {
  0% {
    transform: translateX(800%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-moz-keyframes slideLeft {
  0% {
    transform: translateX(800%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(800%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-o-keyframes slideLeft {
  0% {
    transform: translateX(800%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-ms-keyframes slideLeft {
  0% {
    transform: translateX(800%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (min-width:20em) and (max-width:30em)  { /* smartphones, iPhone, portrait 480x320 phones */
  body {
    /* margin: 0; */
    font-family: 'monospace', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background-image: url('/src/images/si-bg.png');
    background-position-x: 45%;
    background-position-y: 100%;
    background-size: 90em; 
    position: relative;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: black;
  }
}