.navbar {
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    width: 60%;
    height: 1.5em;
}

.navBarList {
    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-left: -2em;
    margin-top: 0em;
}

.navbar-li a:hover {
    color: orange;
    transition: ease-in-out 0.3s color;
}

.navbar a {
    color: white;
    font-weight: bold;
}

.header {
    display: flex;
    height: 3em;
    align-items: flex-end;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(72, 197, 255), rgba(47, 125, 161, 0.75), rgb(19, 51, 82, 0.5));
    background-color: rgb(37, 100, 160, 0.75);
    border-bottom: white 0.5px dashed;
}

.title {
    color: white;
    /* padding: 0 0 0 0.2em; */
    margin: 0px;
    text-decoration: none;
    /* font-size: 2.5em; */
} 

.title a:hover {
    color: orange;
    transition: ease-in-out 0.3s color;
}

.diveFlagHeader {
    height: 3em;
    display: flex;
}
.diveFlagHeader img {
    height: 100%;
    margin-right: 0.5em;
}

@media (min-width:320px) and (max-width:480px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .navbar {
        background-color: rgba(37, 100, 160, 0.75);
        color: white;
        margin: 0px 0px 0px 0px;
        padding: 5px;
        height: 3em;
    }
    .navBarList {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -2em;
        margin-top: 0em;
    }
    .navbar a {
        color: white;
        font-weight: bold;
    }
    .header {
        display: flex;
        justify-content: center;
        background-color: rgb(37, 100, 160, 0.75);
        border-bottom: white 0.5px dashed;
    }
    .title {
        color: white;
        padding: 5px;
        margin: 0px;
        font-size: 2.5em;
    }
}