.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: rgba(37, 100, 160, 0.75);
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 5px;
}
.navbar a {
    color:white;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 100, 160, 0.75);
    border-bottom: white 0.5px dashed;
}

.title {
    color: white;
    padding: 5px;
    margin: 0px;
    font-size: 2.5em;
}