.navbar {
    background-color: rgba(37, 100, 160, 0.75);
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    height: 1.5em;
}

.navBarList{
    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin-left: -2em;
    margin-top: 0em;
}

.navbar a {
    color:white;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 100, 160, 0.75);
    border-bottom: white 0.5px dashed;
}

.title {
    color: white;
    padding: 5px;
    margin: 0px;
    font-size: 2.5em;
}


@media (min-width:320px) and (max-width:480px)  {/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .navbar {
        background-color: rgba(37, 100, 160, 0.75);
        color: white;
        margin: 0px 0px 0px 0px;
        padding: 5px;
        height: 3em;
    }
    
    .navBarList{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -2em;
        margin-top: 0em;
    }

    .navbar a {
        color:white;
        font-weight: bold;
    }
    
    .header {
        display: flex;
        justify-content: center;
        background-color: rgb(37, 100, 160, 0.75);
        border-bottom: white 0.5px dashed;
    }
    
    .title {
        color: white;
        padding: 5px;
        margin: 0px;
        font-size: 2.5em;
    }


}