.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginForm h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}
.loginDiv{
    display: flex;
    justify-content: center;
}
.loginForm button{
    border-radius: 12px;
    font-size: 2rem;
    margin: 2px;
    margin-top: .5rem;
}
.loginForm button:hover{
    background-color: orange;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer
}

.container--login {
    text-align: center;
    justify-content: center;
}

.login--field {
    display: flex;
    justify-content: center;
}
.login--field label{
    width: 20%;
    align-self: center;
}

.login--field button {
    margin: auto;
}
.login--field h2{
    margin: 0;
}

.link--register a {
    color: skyblue;
}
.link--register a:hover {
    color: orange;
    transition: background-color 0.3s ease;
    cursor: pointer
}
