.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginForm h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}
.loginDiv{
    display: flex;
    justify-content: center;
}
.loginForm button{
    border-radius: 12px;
    font-size: 2rem;
    margin: 2px;
    margin-top: .5rem;
}
.loginForm button:hover{
    background-color: red;
    color: white;
}